/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



body {
	font-size: 16px;
  	font-family: 'Verdana';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    margin: 0 auto;
    width: 1024px;

}

/* 回到頁首 */
.scroll-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 10;
  }
  
  .scroll-top .fas {
	color: #00cb9b;
	background: #fff;
	border-radius: 50%;
	font-size: 50px;
	text-decoration: none;
  }
  

.border{
	display:flex;
	justify-content: flex-end;
   	background:#F0F0F0;
  }
  .border a{
	display:flex;
	margin-right:15px;
	text-decoration:none;
	padding: 5px 0;
  }
  .border a:hover{
	  text-decoration: underline;
  }
  .fb{
	color:#2894FF;
  }
  .twitter{
	  color:#2894FF;
  }
  .border a img{
	display:block;
	margin-right:3px;
  }
.header{
	margin-bottom: 30px; 
	display:flex;
    justify-content: space-between;
  	padding: 10px 10px 0 10px;
  	box-shadow: 0 2px 4px 1px #F0F0F0;
}
.header h1{
	background-image: url(https://i.imgur.com/tvCJzox.png);
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 10px;
  }
  .header h1 a{
	display:block;
	width:174px;
	height:40px;
  }
  .menu{
	display:flex;
  }
  .menu ul{
	align-items:center;
  }
  .menu li a{
	display:block;
	font-size:17px;
	font-weight:bold;
	color: #00AEAE;
	text-decoration: none;
	text-align: center;
	padding: 13px 10px 14px 10px;
	border-bottom: 3px solid #0000;
  }

  .menu .mune-item{
	float: left;
	margin: 0 20px;
  }
  
  .menu .menu-item > a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	white-space: nowrap;
	text-decoration: none;
  }
  
  .menu .menu-item > a:after {
	content: '';
	position: absolute;
	height: 5px;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #00cb9b;
	transition: transform 0.1s ease-out;/*底線綠色*/
	transform: scaleX(0);
	transform-origin: bottom left;
  }
  
  .menu .menu-item a:hover:after {
	transform: scaleX(1);
  }
  .active{
	  color:#000;
  }
  .clearfix:after {
	content: '';
	display: table;
	clear: both;
  }
  
  .dropdown {
	position: relative;
  }
  
  .dropdown-menu {
	display: none;
	position: absolute;
	z-index: 10;
	width: 100%;
	background: #fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
  }
  .dropdown-item {
	margin: 5px 0;
  }
  .dropdown-item a {
	display: block;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	color: #00cb9b;
  }
  
  .dropdown-item:hover {
	background: #eee;
  }


  /* 廣告橫幅 */

.banner{
	position: relative;
  	margin-bottom: 50px;
  	max-width: 100%;
  	height: 346px;
  	background: url(../images/banner.png) right center;
  	background-size: cover;
}
.banner h2 {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 35px;
	color: #fff;
	line-height: 1.4;
	/*padding: 0 0 0 25px;*/
  }
  .banner h2 span{
	  padding: 25px;
  }

  .swiper-container {
	height: 100%;
  }
  
  .slide1 {
	background: url(../images/banner1.png) right center;
	position: relative;
  }
  
  .slide2 {
	background: url(../images/banner2.jpg) right center;
	position: relative;
  }
  
  .slide3 {
	background: url(../images/banner3.jpg) center center;
	position: relative;
  }
  
  .swiper-slide h2 {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	padding: 25px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-size: 35px;
	color: #fff;
	line-height: 1.4;
	padding: 40px;
  }
  
  .slide2 h2 {
	text-align: right;
  }
  
  .slide3 h2 {
	text-align: center;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
	color: #fff;
  }
  
  .swiper-pagination-bullet-active {
	background: #fff;
  }
  

/* 內容 */
.content{
	margin-bottom: 20px;
}
.course{
	display:flex;
	justify-content: space-around;
	align-items: flex-start;
	list-style: none;
	margin-bottom: 50px;

}
.course-item{
	width: 30%;
  	min-height: 320px;
 	box-shadow: 0 1px 2px #aaa;
}
.course-item h2{
	text-align: center;
	font-size: 25px;
}
.course .course-item .text{
	margin: 0 15px;
	text-align: justify;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5;
	padding-bottom: 15px;
}
.course .course-item .text h2{
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}
.course .course-item .text ul{
	list-style: inside;
}

/* 比較表 */
.comparison h2{
	font-size: 24px;
	margin-bottom: 30px;
  	font-weight: 700;
  	text-align: center;
}
.comparison table{
	width: 85%;
	margin: 0 auto 60px;
}
.comparison td,th{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 12px 12px 12px 24px;
	text-align: left;
}
.comparison th {
	background: #eee;
	font-weight: 500;
  }
.comparison td{
	font-weight: 400;
}
.comparison .better{
	color: #00AEAE;
}
.comparison tr:hover{
	background: #eee;
}

/* 聯絡資料 */
.contact{
	padding: 40px 30px 20px;
	background: linear-gradient(180deg, #00654a,#009972);
	color: #fff;
	margin-bottom: 20px;
}
.contact h2{
	font-size: 24PX;
	font-weight: 600;
	line-height: 1.6;
	text-align: center;
	margin-bottom: 30px;
}
.contact form{
	display: flex;
	justify-content: stretch;
	align-items: center;
}
.contact form textarea{
	margin-right: 20px;
	width: 50%;
	outline: none;
	border-radius: 5px;
	resize: none;
	line-height: 1.3;
	padding: 7px 5px;
}
.contact form .userinfo{
	margin-left: 20px;
	width: 50%;
}
.contact .userinfo .input-group{
	margin-bottom: 16px;
}
.contact .input-group label{
	display: block;
  	font-weight: 500;
  	margin-bottom: 8px;
}
.contact .input-group input {
	width: 100%;
	padding: 7px 5px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	outline: none;
  }
  
  .contact input[type='submit'] {
	width: 80px;
	background: #00cc98;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	display: block;
	margin-left: auto;
	color: #fff;
	outline: none;
	cursor: pointer;
  }
  
  .contact input[type='submit']:hover {
	background: #74ffdf;
  }

/* 頁尾 */
.footer h2, .footer img, .footer li a, .footer li span {
	display: inline-block;
  }
  
  .footer a {
	float: left;
	display: block;
  }
  
  .footer a h2 {
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
  }
  
  .footer a img {
	vertical-align: middle;
  }
  
  .footer ul {
	float: right;
  }
  
  .footer ul li a {
	width: 100%;
	color:black;
  }
  
  .footer ul li span {
	line-height: 1.5;
	letter-spacing: 1px;
	width: 90px;
	text-align: right;
  }
  
  .footer ul li span:last-of-type {
	width: auto;
	color: #e55995;
  }
  
  .footer ul li span:last-of-type:hover {
	color: #bb1d61;
  }