/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    margin: 0 auto;
    width: 1024px;

}
.border{
	display:flex;
	justify-content: flex-end;
   background:#F0F0F0;
  }
  .border a{
	display:flex;
	margin-right:15px;
	text-decoration:none;
	padding: 5px 0;
  }
  .border a:hover{
	  text-decoration: underline;
  }
  .fb{
	color:#2894FF;
  }
  .twitter{
	  color:#2894FF;
  }
  .border a img{
	display:block;
	margin-right:3px;
  }
.header{
	margin-bottom: 30px; 
	display:flex;
    justify-content: space-between;
  	padding: 10px 10px 0 10px;
  	box-shadow: 0 2px 4px 1px #F0F0F0;
}
.header h1{
	background-image: url(https://i.imgur.com/tvCJzox.png);
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 10px;
  }
  .header h1 a{
	display:block;
	width:174px;
	height:40px;
  }
  .menu{
	display:flex;
  }
  .menu ul{
	align-items:center;
  }
  .menu li a{
	display:block;
	font-size:17px;
	font-weight:bold;
	color: #00AEAE;
	text-decoration: none;
	text-align: center;
	padding: 13px 10px 14px 10px;
	margin-left: 40px;
	border-bottom: 3px solid #0000;
  }
  .menu li a:hover{
	  border-bottom: 3px solid;
  }
.footer{
    background:  gray;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-bottom: 10px;
}
.content{
	margin-bottom: 20px;
}
.course{
	display:flex;
	justify-content: space-around;

}
.course-item{
	border: 1px solid #000;
	width: 300px;
}
.course-item h2{
	text-align: center;
	font-size: 25px;
}